Source: deepin-ssh-proxy
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: deepin-ssh-proxy
Architecture: all
Depends: ${misc:Depends}, expect
Replaces: deepin-tools
Description: Tools for the Linux Deepin Gnome edition.
 Bonous ssh-proxy for Deepin.
